@import '../../../../style/abstracts/all';

/*^ //^======================== header-menu ========================^// ^*/

.header-menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: desk(600px, 270px);
  height: 100%;

  @media (max-width: $MOBILE) {
    flex-direction: column;
    height: 200px;
    flex: 0 1 auto;
    max-width: 100%;
  }

  &__link {
    color: #fff;
    font-size: desk(18px, 16px);
    font-weight: 700;
    transition: all .3s;

    &:hover {
      color: $hover-color;
    }
  }
}