// %======================== VARS ========================% //
// %======================== VARS ========================% //

// %------------ viewport ------------% //
$DESKTOP: 1440px;
$LAPTOP: 1024px;
$TABLET: 834px;
$MOBILE: 600px;

// %------------ colors ------------% //
$hover-color: #ff9500;