@import '../../../../style/abstracts/all';

/*^ //^======================== header-socials ========================^// ^*/

.header-socials {
  flex: 1 1 auto;
  max-width: desk(350px, 140px);

  @media (max-width: $MOBILE) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    padding: 0 5px;
  }

  &__link {
    display: block;
    width: desk(24px, 20px);

    svg {
      width: 100%;
      height: 100%;
    }

    svg path {
      transition: all .3s;
    }

    &:hover {
      svg path {
        fill: $hover-color;
      }
    }
  }
}