/** // *======================== fonts ========================* // **/

@font-face {
	font-family: druk;
	src: url('../../fonts/Druk-Wide-Bold.woff') format('woff');
	src: url('../../fonts/Druk-Wide-Bold.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
	font-family: '20-db';
	src: url('../../fonts/20-db.woff') format('woff');
	src: url('../../fonts/20-db.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');