/*@ //@======================== header ========================@// @*/

@import '../../../style/abstracts/all';

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(to left, #1e6372, #2f96b0);
  height: const(50px);

  @media (max-width: $MOBILE) {
    background: transparent;
  }

  &_loaded {
    opacity: 1;
    transform: translate(0, 0);
  }
}